<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="36F3F5EF-6601-4AD2-8E3C-1D8287E4B482" Name="SuperTuxKart" Language="1033" Version="0.8.2" Manufacturer="STK Team" UpgradeCode="fad3e579-dbeb-457a-a06f-6630a0ced8ec">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Supertuxkart.cab" EmbedCab="yes" CompressionLevel="high" />
    <UIRef Id="WixUI_Mondo" />

    <Property Id="NSISINSTALLFOLDER">
      <RegistrySearch Id="NSISDirRegistry" Type="raw" Root="HKCU" Key="Software\SuperTuxKart"/>
    </Property>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="InstallDirRegistry" Type="raw" Root="HKCU" Key="Software\SuperTuxKart" Name="InstallDir"/>
    </Property>

    <Feature Id="STK" Title="SuperTuxKart" Description="The game" Display="expand" ConfigurableDirectory="INSTALLFOLDER" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="Shaders" />
      <ComponentGroupRef Id="gfx" />
      <ComponentGroupRef Id="challenges" />
      <ComponentGroupRef Id="fonts" />
      <ComponentGroupRef Id="grandprix" />
      <ComponentGroupRef Id="gui" />
      <ComponentGroupRef Id="po" />
      <ComponentGroupRef Id="skins" />
      <ComponentGroupRef Id="karts" />
      <ComponentGroupRef Id="library" />
      <ComponentGroupRef Id="models" />
      <ComponentGroupRef Id="music" />
      <ComponentGroupRef Id="sfx" />
      <ComponentGroupRef Id="textures" />
      <ComponentGroupRef Id="tracks" />
      <ComponentGroupRef Id="misc" />
      <Feature Id="RemoveNSIS" Title="Remove Older Supertuxkart" Description="Remove previously detected install" Display="expand" Level="1">
        <Condition Level="0">NSISINSTALLFOLDER=""</Condition>
        <ComponentGroupRef Id="CleanNSISInstall"/>
      </Feature>
    </Feature>
    <Feature Id="VCRedist" Title="Visual C++ 12.0 Runtime" Display="expand" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>


    <WixVariable Id="WixUIBannerBmp" Value="../../src/windows_installer/logo_slim.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="../../src/windows_installer/stk_installer.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <Icon Id="supertuxkart.exe" SourceFile="../../src/windows_installer/icon.ico"/>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SuperTuxKart">
          <Merge Id="VCRedist" SourceFile="../../src/windows_installer/prerequisites/Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0"/>
          <Component Id="Executable">
            <File Id ="SupertuxkartEXE" Name="supertuxkart.exe" Source="$(var.supertuxkart.TargetDir)/supertuxkart.exe" KeyPath="yes">
              <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuFolder" Name="SuperTuxKart" WorkingDirectory="INSTALLFOLDER" Icon="supertuxkart.exe" IconIndex="0" Advertise="yes" />
            </File>
          </Component>
          <Component Id="GlewLib">
            <File Id="GlewDLL" Name="glew32.dll" Source="$(var.supertuxkart.TargetDir)/glew32.dll" KeyPath="yes"/>
          </Component>
          <Component Id="CurlLib">
            <File Id="CurlDLL" Name="libcurl.dll" Source="$(var.supertuxkart.TargetDir)/libcurl.dll" KeyPath="yes"/>
          </Component>
          <Component Id="EayLib">
            <File Id="EayDLL" Name="libeay32.dll" Source="$(var.supertuxkart.TargetDir)/libeay32.dll" KeyPath="yes"/>
          </Component>
          <Component Id="Idn11Lib">
            <File Id="Idn11DLL" Name="libidn-11.dll" Source="$(var.supertuxkart.TargetDir)/libidn-11.dll" KeyPath="yes" />
          </Component>
          <Component Id="OggLib">
            <File Id="OggDLL" Name="ogg.dll" Source="$(var.supertuxkart.TargetDir)/ogg.dll" KeyPath="yes" />
          </Component>
          <Component Id="OpenAlLib">
            <File Id="OpenAlDLL" Name="OpenAL32.dll" Source="$(var.supertuxkart.TargetDir)/OpenAL32.dll" KeyPath="yes"/>
          </Component>
          <Component Id="PthreadLib">
            <File Id="PthreadDLL" Name="pthreadVC2.dll" Source="$(var.supertuxkart.TargetDir)/pthreadVC2.dll" KeyPath="yes" />
          </Component>
          <Component Id="ssleayLib">
            <File Id="ssleayDLL" Name="ssleay32.dll" Source="$(var.supertuxkart.TargetDir)/ssleay32.dll" KeyPath="yes" />
          </Component>
          <Component Id="VorbisLib">
            <File Id="VorbisDLL" Name="vorbis.dll" Source="$(var.supertuxkart.TargetDir)/vorbis.dll" KeyPath="yes" />
          </Component>
          <Component Id="zlibLib">
            <File Id="zlibDLL" Name="zlib1.dll" Source="$(var.supertuxkart.TargetDir)/zlib1.dll" KeyPath="yes" />
          </Component>
          <Directory Id="dirC202475C84215EEEECB6F7F457B64EC0" Name="data" >
            <Directory Id="dir93A6E808D866819D4779B5926EAAB4DB" Name="shaders" >
              <Directory Id="dir0A95B02AF70B92783527B018A5151C22" Name="utils" />
            </Directory>
            <Directory Id="dirB3926A2F9E66F11DD1C4F5609B50FCD1" Name="gfx" />
            <Directory Id="dirFD546B30B1C30257A7A80815D4A5EA3E" Name="challenges" />
            <Directory Id="dir0D29B8CB1B0A1977F87C47559772BADE" Name="fonts" />
            <Directory Id="dir8AA1257AAA62788D624C429C30F552F3" Name="grandprix" />
            <Directory Id="dir65BD4773B017B3720F73A850383DD6DD" Name="gui" >
              <Directory Id="dir4B4D33921FBC050AB1E6B74F343304A3" Name="online" />
            </Directory>
            <Directory Id="dir5FBD8F20FC5AE303B8881BF77992D3B0" Name="po" />
            <Directory Id="dir470D17FA0B36DE9C3269FC0A788764AB" Name="skins" >
              <Directory Id="dir437EC504A4CDDDF38A1506164E0B39CA" Name="peach" />
              <Directory Id="dirC08B719562E48A5C95C1595CADE1219F" Name="ocean" />
            </Directory>
            <Directory Id="dirD38E16EECC47AEEE2CED21E0E7A19AE1" Name="karts" >
              <Directory Id="dir17679974F9448E8429D454038160ADCA" Name="20_sara_the_racer" />
              <Directory Id="dir2898E5699EBAF9FF936B5AB57CAC04C0" Name="20_amanda" />
              <Directory Id="dir2E30047E94B8F450FA7445F4D8125FA1" Name="20_xue" />
              <Directory Id="dir319BAC3E7B5ABAD1974949B80D3CEE51" Name="suzanne" />
              <Directory Id="dir3BD9F1AF8962AAC90BA4210B76F4CDFC" Name="puffy" />
              <Directory Id="dir4A6F2E780CEB213AFEDE4DB2EFBEEE88" Name="beastie" />
              <Directory Id="dir4A8D0109FBD77BD4EFF41E6AA9A959D6" Name="20_adiumy" />
              <Directory Id="dir5AB30F8D2962403C45F8BA55778D1295" Name="20_sara_the_wizard" />
              <Directory Id="dir88AD0576078D302D1D3D1DE6E884E102" Name="hexley" />
              <Directory Id="dir9AD67D53B78E563B37A0E2EEBFB2BBBE" Name="pidgin" />
              <Directory Id="dirAE17342145EA45165C7E681FB9715B21" Name="gnu" />
              <Directory Id="dirCBA40065E379B809A3AA6ECDFB687A0F" Name="elephpant" />
              <Directory Id="dirDC8394AF5EF363B400E8DD67DE002324" Name="wilber" />
              <Directory Id="dirE80FA8160D5CDDCFC97124679B69933D" Name="tux" />
              <Directory Id="dirF183AE697FEF23160B8C65D96206A0B4" Name="konqi" />
              <Directory Id="dirF8D7676FED5D0DF68B1025FFE0CFE661" Name="nolok" />
              <Directory Id="dirFF4D22A7DD7828304AB0440C887D6CF0" Name="emule" />
            </Directory>
            <Directory Id="dirE11EB76A84EB15A950D4848D6D456CAE" Name="library" >
              <Directory Id="dir005033466B3AA087D69D956CF4AF5EFB" Name="stklib_redParrot_a" />
              <Directory Id="dir011F16FB6F433D97DDE7026C8C79856D" Name="stklib_asianWoodPost_a" />
              <Directory Id="dir02A8EF45E65DDFCCCBCEB0B96A2D0C6D" Name="stklib_aztecHut_a" />
              <Directory Id="dir08AD061C91C434CEFEE89D68C7D8EB33" Name="stklib_aztekGirlCheering_a" />
              <Directory Id="dir0B07BA02F11393D8875C7AD09F1675E5" Name="stklib_bigBlueFutureLight_a" />
              <Directory Id="dir0F5BE38FBE125CC9EDE1BCFEC3C5BE07" Name="stklib_cocoaTree_a" />
              <Directory Id="dir0FC863DE6BC92D0189C5B08BAC9C6E26" Name="stklib_liana_a" />
              <Directory Id="dir11361B6639A9D0A294D84BBF60BD570C" Name="stklib_quetzalcoatl_a" />
              <Directory Id="dir1295BA28BD125CE751EF95A5BC91C34B" Name="stklib_asianLantern_a" />
              <Directory Id="dir1D5276BB9F7462C94FC0860E904BB52B" Name="stklib_umbrellaBeach_a" />
              <Directory Id="dir2157A9CD91A7E056DF671027868242DE" Name="textures" />
              <Directory Id="dir221C77461980F0969DC9DCF12AAB3DBB" Name="stklib_seaLantern_a" />
              <Directory Id="dir2487E91EFBFAE69A1361199DE4D28DA1" Name="stklib_roots_a" />
              <Directory Id="dir25AF75869C262370525C5292CE27E7C3" Name="stklib_aztekVase_a" />
              <Directory Id="dir278E34AE48CB2743946402EFB3A84BCB" Name="stklib_conifer_a" />
              <Directory Id="dir28298ECECF6AF1EC18F8173C0921BA0A" Name="stklib_aztecHouse_b" />
              <Directory Id="dir28BB703AEA1027F9EB7B15576C18B055" Name="stklib_aztecFountain_a" />
              <Directory Id="dir2D4B6A0872BC5DEFADBDED4BF2A4E6DB" Name="stklib_woodPostLamp_a" />
              <Directory Id="dir33893DFB18AEC4C072DED0CEB46B5FEF" Name="stklib_fern_a" />
              <Directory Id="dir3D69E690A30C00EF80683B0B8935E204" Name="stklib_ReedBoat_a" />
              <Directory Id="dir3DB8C822DE788254A5DBB59532FCE37A" Name="stklib_redXmasLight_a" />
              <Directory Id="dir442F8EE9AF6FBB5DDC73E659F4EC6186" Name="stklib_mushroom_a" />
              <Directory Id="dir455504D1F86AB8580CB00685C8957CBB" Name="stklib_fitchBarrelTest_a" />
              <Directory Id="dir49404D0D4C89AA28644C988DBA359171" Name="stklib_jetBlast_a" />
              <Directory Id="dir497014B9592D8EB5E4A7ADB1A71CAB02" Name="stklib_beachWomen_a" />
              <Directory Id="dir4B0C253FCFC557C19AC436DF7098F381" Name="stklib_aztekTorch_a" />
              <Directory Id="dir4C11955728A07E8770AC52EF736C6F0C" Name="stklib_lowRockBarrier_a" />
              <Directory Id="dir4F233105D8A5793404738A9EA60CF91E" Name="stklib_pinkRibbon_a" />
              <Directory Id="dir4F612BC5262D48C58F23AC23D54119D4" Name="stklib_lowAnimGrass_a" />
              <Directory Id="dir4FE78275C43DF568BCF15C67E26D745B" Name="stklib_tetrapodUnderwater_a" />
              <Directory Id="dir58297E26874B4FADF8FD15803CA03074" Name="stklib_trijet_a" />
              <Directory Id="dir5ADACCD5C3D232F73AEE1F0CCDCA66A8" Name="stklib_reef_a" />
              <Directory Id="dir5F43A9F133984EBEEF22610E2100B44A" Name="stklib_loveAlcove_a" />
              <Directory Id="dir61C671F244C94C05D24DE5ABA1AB68EB" Name="stklib_oldLantern_a" />
              <Directory Id="dir689204D806ED2E3D47B9DFE055C60DA3" Name="stklib_animGrass_a" />
              <Directory Id="dir6DCB627FC5B09A883A85C500E61180B9" Name="stklib_jungleTree_a" />
              <Directory Id="dir7185C0B9A95DB614E90214292033ECDA" Name="stklib_bambooTorch_a" />
              <Directory Id="dir73D77C93A9401E52BE82974A6A6C143B" Name="stklib_palmTree_a" />
              <Directory Id="dir73F01C3476BC2AB90CAD6801F1741138" Name="stklib_saraVertical_a" />
              <Directory Id="dir74116FA9DE684BEB128457E4F5B9C9F5" Name="stklib_jungleTree_b" />
              <Directory Id="dir74663F3DBDB053AFBE25330D85FD7058" Name="stklib_hayBall_a" />
              <Directory Id="dir756B85324FABF516D49B0058C81F0E49" Name="stklib_lowPalmTree_a" />
              <Directory Id="dir75F6C3CF48B683639D78C83C70DC02D6" Name="stklib_hexajet_a" />
              <Directory Id="dir7695147769369A9AA2C1EE48C1D462A8" Name="stklib_deadTree_a" />
              <Directory Id="dir76C3ACD03BEBD5DB45525345CC385049" Name="stklib_redToriiPortal_a" />
              <Directory Id="dir7A1266D06E9CBFB316691E0347ED141A" Name="stklib_aztecHouse_a" />
              <Directory Id="dir7BCF75F4258CA2B292D461C80F36E79D" Name="stklib_monkeyCheering_a" />
              <Directory Id="dir7E8EBA1F8D63458EB0DC7093F24DFED1" Name="stklib_metalSupportBeam_a" />
              <Directory Id="dir7EB1D505E2DB761B458AB93C8041E988" Name="stklib_olmec_a" />
              <Directory Id="dir807C5A26B3150258EF1C1180114A437F" Name="stklib_redFlowerBush_a" />
              <Directory Id="dir8622811CBE88DD1B76141706A351E778" Name="stklib_woodLittleBridge_a" />
              <Directory Id="dir879C1303D5BFC2A439E03DF159C3992B" Name="stklib_boxGrid_a" />
              <Directory Id="dir8B330D4CC71830EA5F191C72411E7FF2" Name="stklib_loveLantern_a" />
              <Directory Id="dir8DC0938BFDD6A91A739685F5647388A4" Name="stklib_windpump_a" />
              <Directory Id="dir95A0A3477EC718E12524522A53628A04" Name="stklib_fitchBarrel_a" />
              <Directory Id="dir9AEA1B4B1DAF270A491DFCFD9A16F16F" Name="stklib_princessSaraDepartureAirport_a" />
              <Directory Id="dir9DE1532AE3D09053A377A783104DC6D1" Name="stklib_waterLily_a" />
              <Directory Id="dir9EAEDD9755172E798560B084FDB30EA9" Name="stklib_beachBarMenu_a" />
              <Directory Id="dir9EEBC40527CA540EDC6FC63599C0F5E4" Name="stklib_tropicalPlant_a" />
              <Directory Id="dirA02A9AA9620D3A2E7425D2E007080CE5" Name="stklib_greenRadioTower_a" />
              <Directory Id="dirAE4F06BE2D5DC30DED0278BF0D9BDEB2" Name="stklib_pumpkin_a" />
              <Directory Id="dirAE781B2EC769AA702300CE57FD29EBE1" Name="stklib_stkVertical_a" />
              <Directory Id="dirB1FD92F1219A3C0A7A19DBB2D653F5F7" Name="stklib_logBarrier_a" />
              <Directory Id="dirB40923230C354971D531AD1E48961C4A" Name="stklib_sagebrush_a" />
              <Directory Id="dirB6CFF3566F08E602C7E5D7BF875DBEEC" Name="stklib_loveGate_a" />
              <Directory Id="dirB9A65C27B7B83F7F80650AA28A732B0F" Name="stklib_woodLodge_a" />
              <Directory Id="dirCB19E9B607DA8122C2E9E41F70AB870A" Name="stklib_chimney_b" />
              <Directory Id="dirD517F47E02FB39669EC6B67C90BF5D26" Name="stklib_chimney_a" />
              <Directory Id="dirD59C5AA383963584AF2E097B5E9092F0" Name="stklib_redSeaweed_a" />
              <Directory Id="dirD9DEB90A6E082B5300D629FF3238F5BB" Name="stklib_mudpot_a" />
              <Directory Id="dirE4AD1C9C54FF1038D0E999DDA6E94ACE" Name="stklib_balcony_a" />
              <Directory Id="dirEE891602C5BFD75AD1191F00EFD406B1" Name="stklib_cliffGrassEarth_a" />
              <Directory Id="dirF5CBEB1D28B48843128274C3E2FDC971" Name="stklib_armchair_a" />
              <Directory Id="dirF9D3FAB21EF22F1399E615A99A5F5940" Name="stklib_cattail_a" />
              <Directory Id="dirFA61642C87C61DF3EEE1043685B32392" Name="gfx_jetblastGround_a" />
            </Directory>
            <Directory Id="dir137A84E14CAA1823CCB025C987CB2687" Name="models" />
            <Directory Id="dir87F5FAB97CCB59A61A68CA0905FE68D2" Name="music" />
            <Directory Id="dir5EF86FFA29A73D3C88BB4D3FBC366272" Name="sfx" />
            <Directory Id="dirFC7CCAA6AD3859EAA53CEF34A706DFFF" Name="textures" >
              <Directory Id="dir924CABAF0CED24D41D6E8BB265FA034B" Name="deprecated" />
            </Directory>
            <Directory Id="dirA9C5780A0A293DADA944AFE86CA4F40E" Name="tracks" >
              <Directory Id="dir0190469DABC4176E359A562B96624537" Name="city" />
              <Directory Id="dir20AD84284321FC42AEDFABAF9C7A86BF" Name="gplose" />
              <Directory Id="dir26AFA89EDC77490C2B3C20FA957BD1D0" Name="lighthouse" />
              <Directory Id="dir281E100565F23C773D37CE197162EE75" Name="xr591" />
              <Directory Id="dir2EA3455E2DC5CE0C44BBA45BBA9FE4B9" Name="minigolf" />
              <Directory Id="dir2F586095890BCAEDBB44BB728A4F7AE3" Name="introcutscene2" />
              <Directory Id="dir497B1F8E6855C3B1C07F2AA24A7E7044" Name="mines" />
              <Directory Id="dir5045D6722F6087F58AF10541374F49BC" Name="snowmountain" />
              <Directory Id="dir56A5FC2BD98241A18670D5F2E2AB46AC" Name="sandtrack" />
              <Directory Id="dir5B2191070CE50BE40F634F07FDD5F555" Name="startrack" />
              <Directory Id="dir66CCB70E3B31DC3DF74E641E9769CC67" Name="stadium" />
              <Directory Id="dir6E1F6C48FAA60BB624D2D08C22BE6589" Name="gpwin" />
              <Directory Id="dir8D594C48FC47A5B7FBC0E811BC71390B" Name="overworld" />
              <Directory Id="dir944CEB63A9B60990FDCC276ED6713385" Name="soccer_field" />
              <Directory Id="dir97B096BCA5F3B3283322C383C606C25F" Name="cave" />
              <Directory Id="dir9E3CE3AFCDE7403AF2F8B51AB22464BC" Name="subsea" />
              <Directory Id="dirA229F9AD1F7E5431482D8D7882A0914C" Name="tutorial" />
              <Directory Id="dirA3903B6024B805967BDF1514D08FA25E" Name="battleisland" />
              <Directory Id="dirAF66BE0B2C87B5F4A44BA8ABF0CECE3E" Name="scotland" />
              <Directory Id="dirB292754340699086D563D709546128BD" Name="mansion" />
              <Directory Id="dirB8F8AC4C3EA4FA11ABD3EE946C3E594F" Name="30_chocolate" />
              <Directory Id="dirC12012B3B49251A230F69949FFB30BB6" Name="zengarden" />
              <Directory Id="dirD1C65E3DB535CAE87D35B142DFFEFE09" Name="introcutscene" />
              <Directory Id="dirD2C42FC48EC0BA4AA9D7ACF10F7CA1F5" Name="fortmagma" />
              <Directory Id="dirD5CA28A34B37B46D07AFE7ABF8B6F27E" Name="endcutscene" />
              <Directory Id="dirDFFEF8B166C653F2FA0BE01B0C5EC532" Name="20_island" />
              <Directory Id="dirE101C4327BE76A2833DE276527B1A499" Name="farm" />
              <Directory Id="dirE58AD1F69F4AE4481825399E3FE4EE74" Name="snowtuxpeak" />
              <Directory Id="dirEAF61891E85FE1D620FE9899B860D707" Name="olivermath" />
              <Directory Id="dirF37561B9A42F8984A33F2A62C5832973" Name="greenvalley" />
              <Directory Id="dirF544F9EC1C311DCA617CB789BCCAB2A4" Name="featunlocked" />
              <Directory Id="dirFF229806EAC266F4755E98029418F45A" Name="hacienda" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="Executable"/>
      <ComponentRef Id="GlewLib" />
      <ComponentRef Id="CurlLib"/>
      <ComponentRef Id ="EayLib"/>
      <ComponentRef Id="Idn11Lib"/>
      <ComponentRef Id="OggLib"/>
      <ComponentRef Id="OpenAlLib"/>
      <ComponentRef Id="PthreadLib"/>
      <ComponentRef Id="ssleayLib"/>
      <ComponentRef Id="VorbisLib"/>
      <ComponentRef Id="zlibLib"/>
      <Component Id="regkeys">
        <RegistryKey Root="HKCU" Key="Software\SuperTuxKart">
          <RegistryValue Type="string" Name="InstallDir" Value="[INSTALLFOLDER]"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="CleanNSISInstall" Directory="INSTALLFOLDER">
      <Component Id="RemoveFolder" Guid="4660F2AB-60FD-4C2C-A466-8F640C21EC96" KeyPath="yes">
        <util:RemoveFolderEx On="install" Property="NSISINSTALLFOLDER" />
        <RemoveRegistryValue Root="HKCU" Key="Software\SuperTuxKart" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>